# ----------------------------------------
# Refiner settings
# ----------------------------------------

# Real OpenAI refiner.
REFINER=openai

# Mock refiner. Use it for tests when OpenAI is unavailable or you don't need it.
# REFINER=mock

# OpenAI API key. Take it from https://platform.openai.com/account/api-keys
OPENAI_API_KEY=sk-xxx

# ----------------------------------------
# Mixpanel settings
# ----------------------------------------
MIXPANEL_ENABLED=true
MIXPANEL_TOKEN=1234567890
MIXPANEL_HOST=api.mixpanel.com
