# ----------------------------------------
# Refiner settings
# ----------------------------------------

# Real OpenAI refiner.
REFINER=openai

# Mock refiner. Use it for tests when OpenAI is unavailable or you don't need it.
# REFINER=mock

# OpenAI API key. Take it from https://platform.openai.com/account/api-keys
OPENAI_API_KEY=sk-xxx

# OpenAI base path. You can change the path if you intend to use one of
# the drop-in replacements for OpenAI API.
OPENAI_BASE_PATH=https://api.openai.com/v1

# OpenAI model. You can try "gpt-4" to better performance, but 20x more expensive.
# See https://platform.openai.com/docs/models/overview for more options.
OPENAI_MODEL=gpt-3.5-turbo

# Turn on or off auto-refinement. If true, Refiner will automatically refine
# the text.
NEXT_PUBLIC_AUTO_REFINE=false
NEXT_PUBLIC_AUTO_REFINE_DELAY_MS=2000


# ----------------------------------------
# Mixpanel settings
# ----------------------------------------
MIXPANEL_ENABLED=true
MIXPANEL_TOKEN=1234567890
MIXPANEL_HOST=api.mixpanel.com
